<div class="only-show-for-print">
  <p class="print-information">Printed from <%= request.original_url.force_encoding('utf-8') %> on <%= Time.zone.now.to_formatted_s(:long)  %></p>
</div>

<header <% if controller.controller_name == 'help' %> class="header-blue" <% end %>>
	<div class="header-content">
		<div>
			<div class="hamburger">
				<div class="box"></div>
			</div>
			<div class="nav-holder">
				<%= render :partial => 'general/responsive_topnav' %>
				<div class="dumedite-contact">
					<div class="navbar-search">
						<input type="search" name="search" id="searchh" placeholder="Lyp">
						<p class="nav-paragraph">Lyp në 862,779 kërkesa prej 45,907 autoriteteve të ndryshme.</p>
					</div>
					<div class="qka-eshte">
						<a href="#">Çka është Flossk?</a>
						<span>/</span>
						<a href="#">Çka është Alavateli?</a>
						<span>/</span>
						<a href="#">Kushtet e përdorimit</a>
					</div>
					<div class="kontakti">
						<div class="kontakti-links">
							<a href="#">Impressum</a>
							<span>/</span>
							<a href="#">Kontakti</a>
						</div>
						<a href="#">log*</a>
					</div>
				</div>
			</div>

			<a href="/">
				<%= render :partial => 'general/logo_svg' %>
			</a>
		</div>
		<%= render :partial => 'general/locale_switcher' %>
	</div>
	<div class="header-content" >
		<% if ! (controller.action_name == 'signin' or controller.action_name == 'signup' or controller.action_name == 'login') %>
        	<%= render partial: 'general/log_in_bar' %>
      	<% end %>
		<div class="flex-grow">
			<div id="navigation_search_t" class="navigation_search">
				<form id="navigation_search_form" class="navigation_search_form" method="get" action="<%= search_redirect_path %>" role="search">
					<label class="visually-hidden" for="navigation_search_button">
						<%= _("Search") %>
					</label>
					<%= text_field_tag 'query', params[:query], { :class => "navigation_search_button", :id => "search", :type => "search", :placeholder => _("Search"), :title => _("type your search term here") } %>
					<button type="submit" class="visually-hidden">
						<span class="visually-hidden">
						<%= _("Submit Search") %>
						</span>
					</button>
				</form>
			</div>
			<p>Lyp në <%= number_with_delimiter(InfoRequest.is_searchable.count) %> kërkesa prej <%= number_with_delimiter(PublicBody.visible.count) %> autoriteteve të ndryshme.</p>
		</div>
	</div>
</header>



<% if params[:action] == 'frontpage' %>
  <div class="wrapper">
    <div class="homepage-flash">
      <% if flash[:notice] %>
        <div id="notice"><%= render_flash(flash[:notice]) %></div>
      <% end %>
      <% if flash[:error] %>
        <div id="error"><%= render_flash(flash[:error]) %></div>
      <% end %>
    </div>
  </div>
<% end %>
