<% @title = "Hyrje" %>
<section class="form second-form">
  <div class="form-holder">
    <%= render :partial => 'sidebar' %>

    <div class="form-content">
      <div id="left_column_flip" class="left_column_flip">
        <h1 id="introduction">Hyrje në <%= site_name %> <a href="#introduction">#</a></h1>
        <dl>

          <dt id="purpose">Për çka përdorët <%= site_name %>? <a href="#purpose">#</a> </dt>
          <dd>Për t`ju ndihmuar të gjeni se çka po bëjnë institucionet.
          </dd>

          <dt id="premise">Si funksionon uebfaqja? <a href="#premise">#</a> </dt>
          <dd>Ju zgjedhni institucionin publik nga i cili dëshironi informacion, pastaj shkruani një shënim të shkurtër që përshkruan atë që dëshironi të dini. Më pas ne dërgojmë kërkesën tuaj në institucionin publik. Çdo përgjigje që ata japin publikohet automatikisht në faqen e internetit që ju dhe kushdo tjetër ta gjeni dhe lexoni.
          </dd>

          <dt id="whybother_me">Pse të mundohem ta bëj këtë? <a href="#whybother_me">#</a> </dt>
          <dd>Ju paguani taksat dhe më pas qeveria i bën gjërat me paratë. Të gjitha llojet e gjërave që ndikojnë në jetën tuaj, nga kujdesi shëndetësor deri te mbrojtja kombëtare. Disa i bën keq, disa i bën mirë. Sa më shumë të mësojmë se si funksionon qeveria, aq më mirë jemi në gjendje të bëjmë sugjerime për të përmirësuar gjërat që janë bërë keq dhe për të festuar gjërat që janë bërë mirë.
          </dd>

          <dt id="whybother_them">Pse do të mundohet institucioni publik të kthej përgjigje? <a href="#whybother_them">#</a> </dt>
          <dd>Sipas Ligjit për Qasje në Dokumente Publike (QDP), ata duhet të përgjigjen. Përgjigja ose do të përmbajë informacionin që dëshironi, ose do të jap një arsye ligjore të vlefshme pse duhet të mbahet konfidenciale.
          </dd>

          <dt id="reporting">Çka nëse e shoh një kërkesë që mendoj se është e papërshtatshme?  <a href="#reporting">#</a></dt>
          <dd>
            <p>
              Kërkesat për informacione personale dhe kërkesat shqetësuese nuk konsiderohen të vlefshme për qëllime të Qasjes në Dokumente Publike.
            </p>

            <p>
              Nëse besoni se një kërkesë nuk është e përshtatshme, mund ta raportoni tek administratorët e faqes.
            </p>
          </dd>

          <dt id="reporting_unavailable">Pse nuk më lejon sistemi të raportoj disa kërkesa? <a href="#reporting_unavailable">#</a></dt>
          <dd>
            <p>
              Nëse një kërkesë është raportuar tashmë te administratorët e faqes, nuk mund ta raportoni për herë të dytë - kjo është për të parandaluar që administratorët të njoftohen disa herë për të njëjtin problem përpara se të kenë mundësi ta rishikojnë atë.
            </p>

            <p>
              Kur një kërkesë është raportuar më parë, por një administrator ka zgjedhur të mos e fsheh atë nga publiku, mund të përdorni formularin në shiritin anësor të faqes së kërkesës për të kontaktuar administratorët nëse ende mendoni se duhet të fshihet.
            </p>
          </dd>

          <dt id="who">Kush e bën <%= site_name %> ? <a href="#who">#</a> </dt>
          <dd><%= site_name %> implementohet në Kosovë nga FLOSSK përmes një granti prej National Endowment for Democracy.</dd>
          
          <dd>Funksionon në  Alaveteli, i cili është krijuar prej mySociety.</dd>
          </dd>

          <dt id="updates">Si mund të përditësohem me lajme për <%= site_name %>?<a href="#updates">#</a> </dt>
          <dd>Kemi një <a href="<%= blog_path %>">blog</a>.
          </dd>

        </dl>

        <p><strong>Në vazhdim</strong>, lexoni për <a href="<%= help_requesting_path %>">shtrimin e kërkesave</a> --&gt;</p>

        <div id="hash_link_padding"></div>
      </div>
    </div>
  </div>
</section>
