<% @title = "Në lidhje me API-në tonë" %>
<section class="form second-form">
  <div class="form-holder">
    <%= render :partial => 'sidebar' %>
    <div class="form-content">
      <div id="left_column_flip" class="left_column_flip">
        <h1><%=@title %></h1>
        <dl>
          <dt>Hyrje</dt>
          <dd>
            <p>Kjo faqe shpjegon se si programuesit mund të bëjnë që faqet e internetit dhe softuerat e tjerë të ndërveprojnë me <%= site_name %> nëpërmjet një "API".
            </p>
            <p> <%= site_name %> nuk ka ende një API të plotë, por gradualisht po shtojmë shumë gjëra që janë të ngjashme në përdorim me një API siç kërkohet.

            </p>
          </dd>
          <dt>Lidhja me kërkesat e reja</dt>
          <dd>
            <p>Për të inkurajuar përdoruesit tuaj që të bëjnë lidhje me një autoritet të caktuar publik, përdorni URL të formës  <%= link_to new_request_to_body_path(:url_name => "komuna_e_gjakoves") , new_request_to_body_path(:url_name => "komuna_e_gjakoves") %>. Këto janë parametrat që mund t'i shtoni atyre URL-ve, qoftë në URL ose nga një formular.
             
Këta janë parametrat që mund t'i shtoni atyre URL-ve, qoftë në URL ose nga një formular.

            </p>
            <ul>
              <li> <strong>title</strong> - përmbledhje e paracaktuar e kërkesës së re.</li>
              <li> <strong>default_letter</strong> -  teksti i paracaktuar i trupit të letrës. Përshëndetja (I dashur...) dhe nënshkrimi (I juaji...) janë mbështjellë rreth kësaj.
 </li>
              <li> <strong>body</strong> - si një alternativë ndaj tekstit të paracaktuar të trupit të letrës, kjo cakton të gjithë tekstin e paracaktuar të kërkesës, kështu që ju mund të personalizoni përshëndetjen dhe nënshkrimin. </li>
              <li> <strong>tags</strong> - lista e etiketave e ndarë nga hapësira, kështu që mund të gjeni dhe lidhni çdo kërkesë të bërë më vonë, p.sh. openlylocal shpenzimet_id:12345. : tregon se është një etiketë makine. Vlerat e etiketave të makinës mund të përfshijnë gjithashtu dy pika, të dobishme për URI-të.

              </ul>
            </dd>
            <dt>RSS (në fakt, Atom) feed </dt>
            <dd>
              <p>Ka Atom Feed në shumicën e faqeve që listojnë kërkesat për FOI, të cilat mund t'i përdorni për të marrë përditësime dhe lidhje në formatin XML. Gjeni URL-në e Atom  feed në një nga këto mënyra:
              </p>
              <ul>
                <li>Shikoni për linqe <%= image_tag "feed-16.png", :alt => "RSS icon" %> RSS feed.</li>
                <li>Ekzaminoni etiketën <code>&lt;link rel="alternate" type="application/atom+xml"&gt;</code> në kokën e HTML. </li>
                <li>Shtoni <code>/feed</code> në fillimin e një URL-je tjetër.
                </ul>
                <p>Në veçanti, edhe pyetjet e ndërlikuara të kërkimit kanë Atom feed. Ju mund të bëni të gjitha llojet e gjërave me to, si p.sh. pyetje sipas autoritetit, sipas llojit të skedarit, sipas intervalit të datave ose sipas statusit. Shikoni këshillat e <a href="<%= advanced_search_path %>">advanced search
                    tips</a> për detaje
                </p>
              </dd>
              <dt>Të dhëna të strukturuara JSON</dt>
              <dd>
                <p>Shumë faqe kanë versione JSON, të cilat ju lejojnë të shkarkoni informacione rreth objekteve në një formë të strukturuar. Gjeni ato sipas:
                </p>
                <ul>
                  <li>Shtoni <code>.json</code> në fund të URL-së. </li>
                  <li>Kërkoni etiketën <code>&lt;link rel="alternate" type="application/json"&gt;</code> në kokën e HTML. </li>
                </ul>
                <p>Kërkesat, përdoruesit dhe institucionet kanë të gjithë versione JSON që përmbajnë informacion bazë rreth tyre. Çdo Atom feed ka një ekuivalent JSON, që përmban informacion në lidhje me listën e ngjarjeve në feed.
                </p>
              </dd>
              <dt>Tabelë e të gjitha institucioneve</dt>
              <dd>
                <p>
                  Ekziston një tabelë që liston çdo institucion në dumeditë:
                  <%= link_to "all-authorities.csv", all_public_bodies_csv_path %>
                </p>
              </dd>
              <dt> 5. API për shkrim </dt>
              <dd>
                <p>
                  API për shkrim është krijuar për t'u përdorur nga institucionet për të krijuar kërkesat e tyre në sistem. Më shumë informacion teknik rreth shkrimit API është i disponueshëm në <a href="https://github.com/mysociety/alaveteli/wiki/API#write-api">Alaveteli wiki</a>.
                </p>
              </dd>
            </dl>
     
            <div id="hash_link_padding"></div>
      </div>
    </div>
  </div>
</section>
