<% @title = "Meritat kujt duhet" %>
<section class="form second-form">
  <div class="form-holder">
    <%= render :partial => 'sidebar' %>
    <div class="form-content">
      <div id="left_column_flip" class="left_column_flip">
        <h1 id="credits"><%= @title %> <a href="#credits">#</a> </h1>
        <p>Alaveteli, softueri që fuqizon <%= site_name %>, është një projekt i  <a href="https://www.mysociety.org">mySociety</a>, një organizatë në Mbretërinë e Bashkuar. mySociety ndërton faqe interneti që fuqizojnë qytetarët të kërkojnë llogari nga autoritetet. Dhe kjo është një nga ato faqe.
</p>
        <dl>
          <dt id="development">Zhvillimi <a href="#development">#</a></dt>
          <dd>
            Brohoritje të përzemërta për <a href="https://github.com/mysociety/alaveteli/graphs/contributors">kontribuesit</a> e shumtë të <a href="http://alaveteli.org/">Alavetelit</a>.</p>
        </dd>
        <dt id="helpus">Si t'na ndihmoni <a href="#helpus">#</a></dt>
        <dd>
          <dt id="volunteer">Bëhuni vullnetar <a href="#volunteer">#</a></dt>
        <dd>
            <p>Nëse keni pasion për transparencën, durim dhe pak kohë të lirë, mendoni të bëheni një administratorët vullnetar të <%= site_name %>. Puna përfshin mbështetjen e përdoruesve, ndihmën për zgjidhjen e çështjeve ligjore dhe formësimin e drejtimit të faqes, dhe kryesisht menaxhohet me email.</p>
            <p>Në radhë të parë, <%= link_to 'kontaktoni me ne', help_contact_path %>.</p>
          </dd>
          <dt id="donate">Bëni një donacion <a href="#donate">#</a></dt>
          <dd>
          
            <p>Kontributet tuaja, sado të vogla, vërtetë ndihmojnë. Mbështetni <a href="https://www.floss.org/support/">FLOSSK-un</a>.</p>
          </dd>
          <dt id="classification">Jepju rrugë gjërave <a href="#classification">#</a></dt>
          <dd>
            <p>Administrimi mund të jetë argëtues! Ndihmoni njerëzit të gjejnë kërkesa të suksesshme dhe monitoroni performancën e institucioneve, <a href="<%= categorise_play_path %>">duke luajtur lojën e kategorizimit</a>.</p>
           
          </dd>
          <dt id="promote">Përhapni fjalën <a href="#promote">#</a></dt>
          <dd>
            <p>Ne nuk kemi një buxhet masiv marketingu, kështu që fjala e gojës ndihmon vërtetë.
</p>
            <ul>
              <li>Shkruani një postim në blog për dumeditë, ose një kërkesë interesante që keni gjetur.
</li>
              <li>Postoni rreth sajtit dhe çfarë mund të bëhet me të, në një forum që frekuentoni.</li>
              <li>Tregojuni miqve për të.</li>
              <li>Njoftoni gazetën tuaj lokale ose revistën e komunitetit se sa të dobishëm jemi.</li>
              <li>Bëj një bisedë.</li>
              <li>Na kërkoni broshura për t'i lënë në bibliotekën ose kafenenë tuaj lokale.</li>
            </ul>
          </dd>
        </dd>
        <dt id="code">Përmirësoni kodin <a href="#code">#</a></dt>
        <dd>
          <p>Keni parë diçka që mund të funksiononte më mirë? Nëse jeni programues, merrni <a href="https://github.com/mysociety/alaveteli/">kodin burimor</a> për projektin tonë amë <a href="http://alaveteli.org/">Alaveteli</a> dhe dërgojini një kërkesë për tërheqje. Dumeditë është koduar në <a href="http://rubyonrails.org/">Ruby on Rails</a>.</p>
        </dd>
        </dl>
        <div id="hash_link_padding"></div>
      </div>
    </div>
  </div>
</section>
