<% @title = "Pyetje prej zyrtarëve të QDP" %>
<section class="form second-form">
  <div class="form-holder">
    <%= render :partial => 'sidebar' %>
    <div class="form-content">
      <div id="left_column_flip" class="left_column_flip">
        <h1 id="officers"><%= @title %> <a href="#officers">#</a> </h1>
        <dl>
          <dt id="top">Sapo arrita këtu prej një kërkese të QDP, çfarë po ndodh? <a href="#top">#</a> </dt>
          <dd>
            <p><%= site_name %> është një shërbim i drejtuar nga një OJQ. Ndihmon anëtarët e zakonshëm të publikut të bëjnë kërkesa të QDP, dhe të ndjekin lehtësisht dhe të ndajnë përgjigjet.</p>
            <p>Kërkesa e QDP që keni marrë u bë nga dikush që përdor Dumeditë. Ju thjesht mund t'i përgjigjeni kërkesës ashtu siç do të bëni ndonjë kërkesë tjetër nga një individ. Dallimi i vetëm është se përgjigjja juaj do të publikohet automatikisht në internet.
            </p>
            <p>Nëse keni shqetësime rreth privatësisë apo të tjera, ju lutemi lexoni përgjigjet më poshtë. Ju  mund të lexoni <a
          href="<%= help_about_path %>"> hyrje në <%= site_name %></a> për të mësuar më shumë rreth asaj që bën faqja nga këndvështrimi i një përdoruesi. Ju gjithashtu mund të kërkoni në uebsite për të gjetur institucionin për të cilin punoni, dhe të shikoni statusin e çdo kërkese të bërë duke përdorur uebfaqen.
          </p>
              <p>Ne mirëpresim komente dhe mendime nga zyrtarët e QDP, ju lutemi <a href="<%= help_contact_path %>">na kontaktoni</a>.
              </p>
            </dd>
            <dt id="responses">Pse jeni duke i publikuar përgjigjet për kërkesat e QDP? <a href="#responses">#</a> </dt>
            <dd>Ne mendojmë se ka shumë përfitime. Më e rëndësishmja është se do të inkurajoj publikun të jetë më i interesuar dhe i përfshirë në punën e qeverisë. Ne gjithashtu shpresojmë se do të zvogëloj numrin e kërkesave të  dublikuara për çdo temë që do të marrë një organ publik. Duke pasur parasysh që  përgjigjet për Qasjen në dokumente publike përmbajnë informacione publike, të cilat dikush mund ti kërkoj lehtësisht përsëri nga institucioni publik, ne mendojmë se nuk duhet të ketë asnjë arsye për të mos i publikuar ato.

            </dd>
            <dt id="realpeople">A janë njerëzit që bëjnë kërkesa njerëz të vërtetë? <a href="#realpeople">#</a> </dt>
            <dd>Po. Për qëllimet e përcjelljes së përgjigjeve, ne përdorim adresat e postës elektronike të krijuara nga kompjuteri për secilën kërkesë. Sidoqoftë, para se të mund të dërgojnë një kërkesë, secili përdorues duhet të regjistrohet në uebfaqe me një adresë unike të postës elektronike që ne pastaj verifikojmë. Ju mund të kërkoni në këtë faqe dhe të gjeni një faqe që rendit të gjitha kërkesat që ka bërë secili person.

            </dd>
            <dt id="email_only">Një email nuk është një adresë e mjaftueshme për një kërkesë të QDP! <a href="#email_only">#</a> </dt>
            <dd>Po,është. Sipas ligjit për qasjen në dokumente publike, kërkuesi zgjedh metodën që ajo ose ai do të donte të përdorte për të bërë kërkesa.
            </dd>
            <dt id="vexatious">A nuk po bëni shumë kërkesa shqetësuese? <a href="#vexatious">#</a> </dt>
            <dd>
              <p><%= site_name %> nuk po bën asnjë kërkesë. Ne po dërgojmë kërkesa në emër të përdoruesve tanë, të cilët janë njerëz të vërtetë që bëjnë kërkesat. </p>
              <p>Shikoni këtë kështu - nëse shumë njerëz të ndryshëm do të bënin kërkesa nga adresa të ndryshme të postës elektronike Gmail, atëherë nuk do të mendonit se Google po bënte kërkesa shqetësuese. Ȅshtë  e njëjta gjë nëse shumë kërkesa bëhen përmes Dumeditë. Për më tepër, pasi të gjitha kërkesat janë publike, është shumë më e lehtë për ju të shihni nëse një nga përdoruesit tanë po bën kërkesa shqetësuese.
 </p>
            </dd>
            <dt id="spam_problems">Po shoh një kërkesë në Dumeditë, por nuk e kemi marrë atë me email!<a href="#spam_problems">#</a> </dt>
            <dd>
              <p>Nëse një kërkesë shfaqet në uebfaqe, atëherë ne jemi përpjekur ta dërgojmë atë në institucionin përkatës me email. Çdo dështim i dorëzimit të kërkesës do të shfaqet automatikisht në uebsite. Ju mund të kontrolloni adresën që ne po përdorim në lidhjen "Shikoni adresën e postës elektronike" e cila shfaqet në faqe për institucionin. <a href="<%= help_contact_path %>">Kontaktoni me ne </a> nëse ka një adresë më të mirë që mund të përdorim. </p>
              <p>Kërkesat ndonjëherë nuk dorëzohen sepse ato hiqen në heshtje nga "filtrat e spamit" në departamentin e IT të institucionit. Institucionet mund të sigurohen që kjo të mos ndodh duke i kërkuar departamentit të tyre të IT-së për të  futur në "whitelist” (listën e lejuar) çdo email nga @dumedite.org. Nëse na <a href="<%= help_contact_path %>">kërkoni</a>, ne do të dërgojmë prapë  çdo kërkesë, dhe/ose të japim detaje teknike të dorëzimit në mënyrë që  departamenti i IT të mund të ndjek atë që ka ndodhur me mesazhin.
              </p>
              <p>Më në fund, ju mund t'i përgjigjeni çdo kërkese nga ueb i juaj shfletues, pa pasur nevojë për ndonjë email, duke përdorur lidhjen "Përgjigju ndaj kërkesës" në fund të secilës faqe të kërkesës.
              </p>
            </dd>
            <dt id="days">Si e llogarisni afatin e kaluar në faqet e kërkesës?<a href="#days">#</a> </dt>
            <dd>
            Ligji për qasjen në dokumentet publike thotë:
Një institucion publik duhet të bashkëpunoj menjëherë dhe në çdo rast jo më vonë se 7 ditë pas datës së regjistrimit të kërkesës.

Detaji se si llogariten fundjavat, dhe çfarë ndodh nëse kërkesa arrin jashtë orarit të zyrës, është vetëm detaj. Ajo që ka rëndësi këtu është se ligji thotë se institucionet duhet të përgjigjen menjëherë.

Nëse keni një arsye të mirë pse kërkesa do të marrë një kohë për të përpunuar, personat që kanë dërguar kërkesë e konsiderojnë me të vërtetë të dobishme nëse mund të dërgoni një email të shpejtë me një fjali ose dy duke ju treguar se çfarë po ndodh.

Zyrtarët e QDP shpesh duhet të bëjnë shumë punë të palodhur për t'iu përgjigjur kërkesave, dhe kjo nuk shihet nga publiku. Ne mendojmë se do t'i ndihmonte të gjithë që ky kompleksitet të jetë i dukshëm.

              <p>Ligji për qasjen në dokumentet publike thotë:</p>
              <blockquote>
                <p>Një institucion publik duhet të bashkëpunoj menjëherë dhe në çdo rast jo më vonë se 7 ditë pas datës së regjistrimit të kërkesës.</p>
              </blockquote>
              <p>Detaji se si llogariten fundjavat, dhe çfarë ndodh nëse kërkesa arrin jashtë orarit të zyrës, është vetëm detaj. Ajo që ka rëndësi këtu është se ligji thotë se institucionet duhet të përgjigjen <strong>menjëherë</strong>.</p>
              <p>Nëse keni një arsye të mirë pse kërkesa do të marrë një kohë për të përpunuar, personat që kanë dërguar kërkesë e konsiderojnë me të vërtetë të dobishme nëse mund të dërgoni një email të shpejtë me një fjali ose dy duke ju treguar se çfarë po ndodh.</p>
              <p>Zyrtarët e QDP shpesh duhet të bëjnë shumë punë të palodhur për t'iu përgjigjur kërkesave, dhe kjo nuk shihet nga publiku. Ne mendojmë se do t'i ndihmonte të gjithë që ky kompleksitet të jetë i dukshëm.</p>
            </dd>
            <dt id="days2">Por me të vërtetë, si e llogarisni afatin?<a href="#days2">#</a> </dt>
            <dd>
              <p>Ju lutemi lexoni së pari përgjigjen e pyetjes së mëparshme. Ligjërisht, institucionet duhet t'i përgjigjen menjëherë kërkesave të QDP. Nëse ata nuk arrijnë ta bëjnë këtë, është më mirë nëse tregojnë punën e vështirë që po bëjnë duke shpjeguar se çfarë po merr kohën shtesë për të bërë.

              </p>
              <p>Dumeditë tregon afatin maksimal ligjor për përgjigje për secilën kërkesë. Ja se si e llogarisim ne.</p>
              <ul>
                <li>Nëse dita që ne e dorëzojmë kërkesën me email është një ditë pune, ne e konsiderojmë se si "dita zero", edhe nëse ajo u dorëzua vonë në mbrëmje. Ditët mbarojnë në mesnatë. Ne pastaj numërojmë ditën tjetër të punës si "Dita e parë", etj.
</li>
                <li>Nëse dita kur u dorëzua emaili i kërkesës ishte një ditë pushimi, ne numërojmë ditën tjetër të punës si "Dita e parë".
Kërkuesit inkurajohen të shënojnë kur ata kanë sqaruar kërkesën e tyre në mënyrë që ora të rivendoset, por ndonjëherë ata e gabojnë këtë. Nëse shihni një problem me një kërkesë të veçantë, na tregoni dhe ne do ta rregullojmë.
</li>
              </ul>
              <p>Data e llogaritur në këtë mënyrë tregohet në kërkesat me tekstin "me ligj, komuna e Prishtinës normalisht duhet të jetë përgjigjur nga …
              </p>
            </dd>
            <dt id="large_file">Si mund të dërgoj një skedar të madh, i cili nuk shkon me email?<a href="#large_file">#</a> </dt>
            <dd>Në vend të emailit, ju mund t'i përgjigjeni një kërkese direkt nga shfletuesi juaj  i ueb-it, duke përfshirë ngarkimin e një skedari. Për ta bërë këtë, zgjedhni "Përgjigjuni kërkesës" në fund të faqes së kërkesës. Kontaktoni me ne nëse skedari është i madh edhe për atë (më shumë sesa, të themi, 50MB).
            </dd>
            <dt id="names">Pse publikoni emrat e nënpunësve civil dhe tekstin e postës elektronike?  <a href="#names">#</a> </dt>
            <dd>Ne konsiderojmë se çfarë bëjnë oficerët ose zyrtarët gjatë punës së tyre është informacion publik. Ne vetëm do të heqim përmbajtjen në rrethana të jashtëzakonshme, shih politikën tonë për <a href="<%= help_privacy_path(:anchor => 'takedown') %>">heqje të informatave</a>.
            </dd>
            <dt id="mobiles">A i publikoni adresat e postës elektronike ose numrat e telefonit celular? <a href="#mobiles">#</a> </dt>
            <dd>
              <p>Për të parandaluar spam, ne automatikisht heqim shumicën e postave elektronike dhe disa numra celular nga përgjigjet në kërkesa. Ju lutemi na <a href="<%= help_contact_path %>">kontaktoni</a> nëse kemi humbur ndonjë gjë. Për arsye teknike, ne jo gjithmonë i heqim ato nga dokumentet e bashkëngjitura, siç janë PDF të caktuara.</p>
             
              <p>Nëse duhet të dini se cila adresë ishte që ne kemi hequr <a
        href="<%= help_contact_path %>">ju lutemi na kontaktoni</a>.
                <% if AlaveteliConfiguration::enable_annotations %>
                  Nëse duhet të dini se cila adresë ishte që ne kemi hequr, ju lutemi kontaktoni me ne. Herë pas here, një adresë emaili formon një pjesë të rëndësishme të një përgjigje dhe ne do ta postojmë atë në një formë të errësuar në një shënim.
                <% end %>
              </p 
          
            </dd>
            <dt id="copyright"><a id="commercial"></a>Cila është politika juaj për të drejtat e autorit të dokumenteve?<a href="#copyright">#</a> </dt>
            <dd>Ligji ynë për qasje në dokumente publike është "i verbër" se kush e bënë, kështu që kushdo në botë mund të kërkoj të njëjtin dokument dhe të marrë një kopje të tij. Nëse mendoni se duke bërë një dokument të qasshëm në internet shkel të drejtat e autorit, ju mund të na kontaktoni dhe na kërkoni ta largojmë atë. Sidoqoftë, për të kursyer paratë e tatimpaguesve duke parandaluar kërkesat dublikate dhe për marrëdhënie më të mira me publikun, ne ju këshillojmë të mos e bëni këtë.
            </dd>
            <dt id="allowed_responses">Përgjigja ime ndaj një kërkese të vjetër në Dumeditë është kthyear! <a href="#allowed_responses">#</a> </dt>
            <dd>Pas gjashtë muajve të pasivitetit, Dumeditë kufizon kush mund t'i përgjigjet një kërkese për të ndaluar mashtruesit që synojnë kërkesat e vjetra. Në atë pikë, kërkesa mund të përgjigjet vetëm nga dikush që është nga institucioni. Pas dymbëdhjetë muajsh, kërkesa është e mbyllur për përgjigje nga kushdo. Nëse keni nevojë për një kërkesë të vjetër për t'u rihapur në mënyrë që të mund t'i përgjigjeni, ju lutemi <a href="<%= help_contact_path %>">na kontaktoni</a>.
            </dd>
          </dl>
          <p><strong>Nëse nuk e keni lexuar ende</strong>, lexoni <a href="<%= help_about_path %>">hyrjen</a> --&gt;
            <br>
            <strong>Përndryshe</strong>, lexoni <a href="<%= help_credits_path %>">mirënjohjet</a> ose <a href="<%= help_api_path %>">API-në e programuesve</a> --&gt;
            <div id="hash_link_padding"></div>
          </div>
        </div>
      </div>
    </section>
