<% @title = 'Pro' %>

<section class="form second-form">
  <div class="form-holder">
    <%= render :partial => 'sidebar' %>
    <div class="form-content">
      <div id="left_column_flip" class="left_column_flip <%= controller.controller_name %>-<%= controller.action_name %>">
        <h1 id="pro"><%= @title %></h1>
        <ul>
          <li><%= link_to 'Kërkesat private', '#private-requests' %></li>
          <li><%= link_to 'Grumbull kërkesash', '#batch' %></li>
        </ul>

        <h2 id="private-requests">
          Kërkesat private
        <a href="#private-requests">#</a>
        </h2>

        <p>
Përdoruesit Pro mund të vendosin një periudhë privatësie në një kërkesë për të vonuar publikimin ndërsa punoni në shkrimin ose hetimin tuaj.
        </p>

        <p>
        Kur një kërkesë është private, ne garantojmë se do të jetë e dukshme vetëm në Dumeditë për periudhën që ju zgjedhni. Administratorët e Dumeditë Pro do të mund të shikojnë gjithashtu kërkesën tuaj, por do ta bëjnë këtë vetëm në rast se duhet të rregullojnë ndonjë problem me të (p.sh. dërgimi i dështuar tek institucioni). Ata nuk do t'i zbulojnë askujt tjetër përmbajtjen e kërkesës suaj ose ndonjë përgjigje që merrni. Institucioni megjithatë mund ta publikoj atë në ndonjë raportim si zakonisht.
        </p>

        <h3 id="how-long-can-i-keep-requests-private">
          Sa gjatë mund ta mbaj një kërkesë private?
        <a href="#how-long-can-i-keep-requests-private">#</a>
        </h3>

        <p>
          Periudhat e privatësisë mund të caktohen për periudha 3, 6 dhe 12 mujore.

        </p>

        <p>
          <%= image_tag 'alaveteli-pro/screenshot-embargo.jpg',
                        alt: 'Shtimi i periudhës së privatsisë' %>
        </p>

        <p>
          Do të njoftoheni automatikisht një javë përpara skadimit të periudhës së privatësisë dhe në datën e skadimit.
        </p>

        <p>
          Pasi të përfundoj periudha e privatësisë, kërkesa juaj dhe korrespondenca e mëposhtme, duke përfshirë <strong>your name</strong>, emrin tuaj <strong> do të shfqen <strong>
          <%= link_to 'publikisht',
            help_privacy_path(anchor: 'public_request') %></strong> në këtë faqe interneti.
        </p>

        <h3 id="i-need-more-time-can-i-extend-a-privacy-period">
Më duhet më shumë kohë. A mund ta shtyj periudhën e privatësisë?
        <a href="#i-need-more-time-can-i-extend-a-privacy-period">#</a>
        </h3>

        <p>
          Periudhat e privatësisë mund të zgjaten, por vetëm në javën para datës së skadimit.
        </p>

        <p>
          <%= image_tag 'alaveteli-pro/screenshot-embargo-extension.jpg',
                        alt: 'Zgjatja e periudhës së privatësisë' %>
        </p>

        <p>
          Nuk ka kufi për herat që mund të zgjatet një periudhë e privatësisë, por çdo zgjatje kërkon konfirmim manual.
        </p>

        <h3 id="how-do-i-publish-a-request">
         Si të publikoj një kërkesë? 
        <a href="#how-do-i-publish-a-request">#</a>
        </h3>

        <p>
Kërkesat mund të publikohen në çdo kohë.
        </p>

        <p>
          <%= image_tag 'alaveteli-pro/screenshot-embargo-publish.jpg',
                        alt: 'Publikimi i kërkesës' %>
        </p>

        <h3 id="can-i-make-private-batch-requests">
A mund të bëj një grumbull kërkesash private?
        <a href="#can-i-make-private-batch-requests">#</a>
        </h3>

        <p>
          Periudhat e privatësisë mund të vendosen gjithashtu për një grumbull kërkesash dhe funksionimi i tyre ndjek të njëjtat parime si kërkesat individuale. Ndryshimet në një periudhë të privatësisë në një kërkesë që i përket një grumbulli pasqyrohen në të gjitha kërkesat në grumbull.

        </p>

        <h2 id="batch">
          Grumbull
        <a href="#batch">#</a>
        </h2>

        <p>
Kërkesat e grumbulluara (Batch) e bëjnë të lehtë dërgimin dhe menaxhimin e kërkesave tek institucionet e shumta.
        </p>

        <h3 id="how-do-i-make-a-batch-request">
Si duhet ta bëj një grumbull kërkesash?
        <a href="#how-do-i-make-a-batch-request">#</a>
        </h3>

        <p>
          Grumbulli i kërkesave ju lejon të zgjedhni një listë të autoriteteve dhe të shkruani një kërkesë shabllon. Kërkesa i dërgohet çdo autoriteti individualisht si një.
        </p>

        <p>
          <%= image_tag 'alaveteli-pro/screenshot-batch-selection.jpg',
                        alt: 'Zgjedh institucionet për grumbull' %>
        </p>

        <p>
          <%= image_tag 'alaveteli-pro/screenshot-batch-write.jpg',
                        alt: 'Shkruaj një shabllon për grumbull' %>
        </p>

        <h3 id="how-do-i-manage-a-batch-request">
Si ta menaxhoj një grumbull kërkesash? 
        <a href="#how-do-i-manage-a-batch-request">#</a>
        </h3>

        <p>
     Progresi i një grupi kërkesash mund të menaxhohet me një matës të përshtatshëm të përparimit për të parë se sa afër jeni me marrjen e përgjigjeve nga të gjitha autoritetet dhe duke e bërë të lehtë zgjedhjen e veprimit të mëpasshëm.
        </p>

        <p>
          <%= image_tag 'alaveteli-pro/screenshot-batch-list.jpg',
                        alt: 'Menaxhimi i kërkesave grumbull' %>
        </p>

        <h3 id="how-do-i-manage-batch-privacy-periods">
Si t`i menaxhoj periudhat e privatësisë së grumbullit të kërkesave?
        <a href="#how-do-i-manage-batch-privacy-periods">#</a>
        </h3>

        <p>
          Grumbujt e kërkesave mund të bëhen private, edhe periudha e privatësisë mund të menaxhohet lehtë në grumbullin e kërkesave.
        </p>

        <p>
          <%= image_tag 'alaveteli-pro/screenshot-batch-privacy.jpg',
                        alt: 'Menaxhimi i privatsisë së grumbullit' %>
        </p>

        <h3 id="how-many-authorities-can-i-add-to-a-batch">
Sa grumbuj kërkesash mund të bëj? 
        <a href="#how-many-authorities-can-i-add-to-a-batch">#</a>
        </h3>

        <p>
          Numri maksimal i institucioneve që mund të shtohen në një grumbull kërkesash është 
          <%= AlaveteliConfiguration.pro_batch_authority_limit %>.
        </p>

        <h3 id="how-many-batch-requests-can-i-make">
Sa grumbuj kërkesash mund të bëj? 
        <a href="#how-many-batch-requests-can-i-make">#</a>
        </h3>

        <p>
          Ne rekomandojmë dërgimin e një grumbulli kërkesash pilot tek një mostër e institucioneve për të testuar kërkesën. Pasi të dini se institucionet mbajnë llojin e të dhënave që po kërkoni, atëherë mund të kërkoni nga institucionet e mbetura.

        </p>

        <p>
          Nuk ka asnjë kufizim për numrin e grumbujve të kërkesave që mund të dërgohen, por përdoruesve Pro u kërkohet të respektojnë udhëzimet tona për shkrimin e 
          <%= link_to 'kërkesave të përgjegjshme',
            help_requesting_path(anchor: 'responsible') %>.
        </p>
      </div>
    </div>
  </div>
</section>
