<% @title = "Shtrimi i kërkesave" %>
  
<section class="form second-form">
  <div class="form-holder">
    <%= render :partial => 'sidebar' %>
    <div class="form-content">
      <div id="left_column_flip" class="left_column_flip">
        <h1 id="making_requests"><%= @title %> <a href="#making_requests">#</a></h1>
        <dl>
      
          <dt id="which_authority">Nuk jam i sigurt se cilit institucion t'ia dërgoj kërkesën time, si mund ta gjej? <a href="#which_authority">#</a> </dt>
      
          <dd>
            <p>Mund të jetë e vështirë të zgjedhësh strukturën e ndërlikuar të qeverisë dhe të gjesh se kush mban informacionin që dëshiron. Këtu janë disa këshilla:
            </p>
            <ul>
              <li>Shfletoni ose kërkoni dumeditë duke kërkuar kërkesa të ngjashme me tuajat.</li>
              <li>Kur gjeni një institucion që mendoni se mund të ketë informacionin, përdorni lidhjen "faqja kryesore" në anën e djathtë të faqes së tyre për të kontrolluar se çfarë bëjnë në faqen e tyre të internetit.
</li>
              <li>Kontaktoni institucionin me telefon ose email për të pyetur nëse ata mbajnë llojin e informacionit që kërkoni.</li>
              <li>Mos u shqetësoni shumë për gjetjen e institucionit të duhur. Nëse e keni gabim, ata duhet t'ju këshillojnë se kujt t'ia bëni kërkesën.
              </li>
              <li>Nëse keni ndonjë problem me rastin apo kërkesën tuaj, ju lutemi <a href="<%= help_contact_path %>">na kontaktoni</a>  për ndihmë.</li>
            </ul>
      
          </dd>
      
      
      
          <dt id="missing_body">Ju mungon institucioni publik prej të cilit dua të kërkoj informacion! <a href="#missing_body">#</a> </dt>
      
          <dd>
            <p>Ju lutem na kontaktoni me emrin e institucionit publik dhe, nëse mund ta gjeni, adresën e tyre të emailit të kontaktit për kërkesat për Qasje në Dokumentet Publike.
            </p>
            
      
          </dd>
      
        
          <dt id="focused">Pse duhet ta mbaj të fokusuar kërkesën time?<a href="#focused">#</a> </dt>
      
          <dd>
      
            <p>
              Ju lutemi vendosni në kërkesën tuaj vetëm atë që ju nevojitet në mënyrë që dikush të mund të identifikoj lehtësisht se çfarë informacioni kërkoni. Ju lutemi <i>mos</i> përfshini asnjë nga këto më poshtë: 
            </p>
      
            <ul>
              <li>Argumentet për çështjen e juaj</li>
              <li>Deklarata që mund të shpifin ose ofendojnë të tjerët</li>
            </ul>
      
            <p>
              Nëse e bëni këtë, mund të na duhet ta heqim kërkesën tuaj për të shmangur problemet me ligjin për shpifjen, e cila është një vështirësi për ju dhe për ne. Mesazhet e shkurtra dhe të përmbledhura e bëjnë më të lehtë për institucionet që të kenë të qartë se çfarë informacioni po kërkoni, që do të thotë se do të merrni një përgjigje më shpejt.
            </p>
      
            <p>
              Nëse doni informacion për të mbështetur një argument ose fushatë, Qasja në Dokumentet Publike është një mjet i fuqishëm. Edhe pse mund të mos e përdorni këtë faqe për të drejtuar fushatën tuaj, ne ju inkurajojmë ta përdorni atë për të marrë informacionin që ju nevojitet. Ne gjithashtu ju inkurajojmë që të drejtoni fushatën tuaj diku tjetër - një mënyrë efektive dhe shumë e lehtë është <%= link_to 'filloni blogun tuaj', "http://wordpress.com/"%>.
              <% if AlaveteliConfiguration::enable_annotations %>
                Jeni të mirëpritur ta lidhni fushatën tuaj nga kjo faqe në një shënim për kërkesën tuaj (ju mund të bëni shënime pas dorëzimit të kërkesës).
              <% end %>

            </p>
      
          </dd>
      
          <dt id="fees">A më kushton ndonjë gjë për të bërë një kërkesë? <a href="#fees">#</a> </dt>
      
          <dd>
      
            <p>Jo nëse nuk i kushton asgjë institucionit ta skanoj atë kërkesë. Bërja e një kërkese QDP është pothuajse gjithmonë falas.
</p>

          </dd>
      
      
      
          <dt id="quickly_response">Sa shpejt do të marrë përgjigje? <a href="#quickly_response">#</a> </dt>
      
          <dd>
            <p>Sipas ligjit, institucionet publike duhet t'u përgjigjen <strong>menjëherë</strong> kërkesave.
            </p>
      
            <p>Edhe nëse nuk kthejnë përgjigje menjëherë, pothuajse në të gjitha rastet duhet të përgjigjen brenda 7 ditëve kalendarike nga dita e regjistrimit të kërkesës. Megjithatë, nëse justifikohet, ata mund të kërkojnë 15 ditë të tjera kalendarike. Shih (<a href="<%= help_officers_path(:anchor => 'days') %>">detajet</a>).
            <p><%= site_name %> will email you if you don't get a timely response.  You can
              then send the public institution a message to remind them, and tell them if they
              are breaking the law.</p>
      
          </dd>
      
          <dt id="no_response">Çka nëse nuk marr kurrë përgjigje?<a href="#no_response">#</a> </dt>
      
          <dd>
            <p>Ka disa gjëra që mund të bëni nëse nuk merrni kurrë një përgjigje.</p>
            <ul>
              <li>Ndonjëherë ka pasur një problem të vërtetë dhe institucioni nuk e ka marrë kurrë kërkesën. Ia vlen të telefononi institucionin dhe të kontrolloni me mirësjellje nëse e kanë marrë kërkesën. Atyre u është dërguar me email.
              </li>
              <li>Nëse nuk e kanë marrë, problemi ka shumë të ngjarë që ka ndodhur për shkak të "filtrave të spam". Referojeni institucionin në përgjigjen '<a href="<%= help_officers_path(:anchor => 'spam_problems') %>">Mund të shoh një kërkesë në Dumeditë, por nuk e kemi marrë kurrë me email!!</a>' në seksionin e Zyrtarëve të QDP të kësaj ndihme. 
              </li>
              <li>Nëse ende nuk keni fat, atëherë mund të ankoheni ndaj institucionit në Agjencinë për Informim dhe Privatësi. Lexoni faqen tonë '<a href="<%= help_general_path(:template => 'unhappy') %>">Të pakënaqur me përgjigjen që morët?</a>'.
            </ul>
          </dd>
      
          <dt id="not_satifised">Po sikur të mos jem i kënaqur me përgjigjen? <a href="#not_satifised">#</a> </dt>
          <dd>Nëse nuk e keni marrë informacionin që keni kërkuar, ose nuk e keni marrë në kohë, atëherë lexoni faqen tonë '<a href="<%= help_general_path(:template => 'unhappy') %>">Të pakënaqur me përgjigjen që morët?</a>'.
          </dd>
      
          <dt id="reuse">Thotë se nuk mund ta ripërdor informacionin që kam marrë!<a href="#reuse">#</a> </dt>
          <dd>
            <p>Ju mund të shkruani artikuj rreth informacionit ose ta përmbledhni atë, ose të citoni pjesë të tij. Ne gjithashtu mendojmë se duhet të ndiheni të lirë të ribotoni informacionin plotësisht, ashtu sikur ne, edhe pse në teori mund të mos ju lejohet ta bëni këtë. Shih politikën tonë për <a href="<%= help_officers_path(:anchor => 'copyright') %>">të drejtat e autorit</a>.</p>
      
          </dd>
      
          <dt id="ico_help">A mund të më tregoni më shumë për gjërat më të rëndësishme në lidhje me procesin e bërjes së kërkesave? <a href="#ico_help">#</a> </dt>
      
          <dd>
            <p>Hidhni një sy  <a href="https://aip.rks-gov.net/en/access-to-public-documents/">qasjes në dokumente publike</a> në faqen e internetit të Agjencisë për Informim dhe Privatësi</p>
      
          </dd>
      
          <dt id="data_protection">A mund të kërkoj informacion për veten time? <a href="#data_protection">#</a> </dt>
      
          <dd>
            <p>Jo. Kërkesat e bëra duke përdorur dumeditë janë publike, të bëra sipas Ligjit për Qasje në Dokumente Publike dhe nuk mund t'ju ndihmojnë të gjeni informacione për një individ privat.</p>
      
            <p>Nëse dëshironi të dini se çfarë informacioni mban një institucion publik për veten tuaj, duhet të bëni një kërkesë privatisht duke përdorur ligjin për Mbrojtjen e të Dhënave. "<a
              href="https://aip.rks-gov.net/en/personal-data-protection/#">Kjo faqe </a>"</p>
      
            <p>Nëse shihni se dikush ka përfshirë informacion personal, ndoshta pa dashje, në një kërkesë, ju lutemi <a href="<%= help_contact_path %>">na kontaktoni</a>na kontaktoni menjëherë që ne ta largojmë atë.</p>
          </dd>
      
      
          <dt id="private_requests">Dua ta mbaj të fshehtë kërkesën time! (të paktën derisa të publikoj storien time) <a href="#private_requests">#</a> </dt>
       
          <dd><p> Nëse jeni gazetar, na kontaktoni në dumedite@flossk.org për të marrë qasje në një përdorim të tillë.</p>
            <p>Përndryshe, të gjitha përgjigjet që marrim publikohen automatikisht në faqen e internetit që të gjithë t'i lexojnë. Ju duhet të kontaktoni drejtpërdrejt institucionin publik nëse dëshironi të bëni një kërkesë privatisht. 
            </p>
          </dd>
      
          <dt id="multiple">A mund të bëj të njëjtën kërkesë për shumë institucione, p.sh. për të gjitha komunat? <a href="#multiple">#</a> </dt>
      
          <dd>Ju kërkojmë që fillimisht të dërgoni një verzion testues të kërkesës suaj tek disa institucione. Përgjigjet e tyre do t'ju ndihmojnë të përmirësoni formulimin e kërkesës suaj, në mënyrë që të merrni informacionin më të mirë kur dërgoni kërkesën tek të gjitha institucionet. Aktualisht nuk ekziston një sistem i automatizuar për dërgimin e kërkesës tek institucionet e tjera, duhet ta kopjoni dhe ta vendosni (copy & paste) atë në mënyrë manuale.
      
          </dd>
      
          <dt id="offsite">Kam bërë një kërkesë jashtë dumedite, si ta ngarkoj në arkiv?<a href="#offsite">#</a> </dt>
      
          <dd>Dumeditë është një arkiv i kërkesave të bëra përmes faqes, dhe nuk përpiqet të jetë një arkiv i të gjitha kërkesave për QDP. Ne kurrë nuk do të mbështesim ngarkimin e kërkesave të tjera. Së pari, ne nuk do të ishim në gjendje të verifikonim nëse përgjigjet e tjera vinin në të vërtetë nga institucioni. Nëse kjo ka vërtetë rëndësi për ju, gjithmonë mund të bëni të njëjtën kërkesë përsëri përmes dumeditë.
          </dd>
      
          <% if AlaveteliConfiguration::enable_annotations %>
            <dt id="moderation">Si i moderoni shënimet e kërkesave? <a href="#moderation">#</a> </dt>
      
            <dd>
              <p>Shënimet në dumeditë janë për t'i ndihmuar njerëzit të marrin informacionin që dëshirojnë, ose për t'u dhënë atyre udhëzime për vendet ku mund të shkojnë për t'i ndihmuar ata të veprojnë sipas tij. Ne rezervojmë të drejtën për të hequr çdo gjë tjetër.
              </p>
              <p>Diskutimet politike të pafunda nuk lejohen. Postoni linkun në një forum të përshtatshëm ose faqe fushate diku tjetër.</p>
            </dd>
          <% end %>
      
        </dl>
      
        <p><strong>Në vazhdim</strong>, lexoni për <a href="<%= help_privacy_path %>">privatsinë tuaj</a> --&gt;
      
          <div id="hash_link_padding"></div>
      </div>
    </div>
  </div>
</section>
