<% @title = "Të pakënaqur me ndonjë kërkesë për Qasje në Dokumenta Publike?" %>
<section class="form second-form">
  <div class="form-holder">
    <%= render :partial => 'sidebar' %>
    <div class="form-content">
      <div id="left_column_flip" class="left_column_flip">
        <h1 id="credits"><%= @title %> SQ</h1>
        <% if @info_request %>
          <h1>Të pakënaqur me përgjigjent që morët në kërkesën '<%=request_link(@info_request) %>'?
          </h1>
        <% else %>
          <h1>Të pakënaqur me përgjigjen që morët?</h1>
        <% end %>
        <p>Nëse ...</p>
        <ul>
          <li>Nuk keni marrë përgjigje brenda 7 ditëve kalendarike (ose deri në 15 nëse ka kërkuar zgjatje insitucioni)</li>
          <li>Nuk keni marrë të gjithë informacionin që keni kërkuar <strong>ose</strong></li>
          <li>Kërkesa juaj është refuzuar, por pa ndojnë arsye të vlefshme sipas ligjit</li>
        </ul>
        <p>... ju mund të</p>
        <ol>
          <li>Kërkoni një <strong>rishikim të brendshëm</strong> në institucionin publik.</li>
          <li>Nëse kjo nuk ju ndihmon, ankohuni në <strong>Agjencinë për Informim dhe Privatësi</strong>.</li>
          <li>Sido që të jetë, përdorni edhe <strong>mjete të tjera</strong> për t'iu përgjigjur pyetjes suaj.</li>
        </ol>
        <h1 id="internal_review">1. Kërkoni një rishikim të brendshëm <a class="hover_a" href="#internal_review">#</a> </h1>
        <p>
          <% if @info_request %>
            <%= link_to "Kërkoni një rishikim të brendshëm", new_request_followup_path(:request_id => @info_request.id) + "?internal_review=1#followup", :class => 'link_button_green request-internal-review-action' %> dhe pastaj i shkruani një mesazh institucionit për të rivlersuar kërkesën tuaj.
          <% else %>
            Në fund të faqes përkatëse të kërkesës në dumeditë zgjedhni "kërkoni rishikim të brendshëm". Më pas shkruani një mesazh duke kërkuar një rishikim të brendshëm të kërkesës suaj. Ju mund të dëshironi të përfshini një lidhje në faqen e kërkesës, për ta bërë të qartë se për cilën kërkesë po flisni.

          <% end %>
        </p>
        <p>Rishikimet e brendshme duhet të jenë të shpejta. Nëse njëra merr më shumë se 30 ditë, atëherë insittucioni duhet t'ju shkruaj dhe t'ju njoftoj. Më pas ose do të merrni informacionin që keni kërkuar fillimisht, ose do t'ju thuhet se rishikimi mbështet vendimin origjinal.
        </p>
        <h1 id="complaining">2. Ankimimi në Agjencinë për Informim dhe Privatësi <a class="hover_a" href="#complaining">#</a> </h1>
        <p>Nëse jeni ende të pakënaqur pasi institucioni publik ka bërë rishikimin e tyre të brendshëm, atëherë mund të ankoheni në Agjencinë e Informacionit dhe Privatësisë. Për ta bërë këtë, lexoni 
          <a href="https://aip.rks-gov.net/qasja-ne-dokumente-publike/e-drejta-per-qasje-ne-dokumente-publike/">Ankesat për Qasjen në Dokumente Publike</a>
         në sajtin e Agjencisë për Informim dhe Privatësi. 
        </p>
        <p>Për ta bërë më të lehtë dërgimin e informacionit përkatës në Agjencinë për Informim dhe Privatësi
          <% if @info_request %>
             ose përfshini një hiperlidhje në kërkesën tuaj
            <strong><%=h request_url(@info_request) %></strong>
          <% else %>
            përfshini një hiperlidhje nga kërkesa juaj në <%= site_name %>
          <% end %>
          ose printoni të gjithë faqen e kërkesës tuaj dhe të gjitha bashkëngjitjet.
        </p>
        <p><%= site_name %> nuk ka lehtësime të veçanta për trajtimin e një kërkese në këtë fazë - ajo kalon në sistemin e Agjencisë për Informim dhe Privatësi. Ju mund të leni shënim në kërkesën tuaj për t'i informuar lexuesit mbi progresin e kerkesës.</p>
       
        <h1 id="other_means">3. Përdorimi i mjeteve të tjera për t'iu përgjigjur pyetjes suaj <a class="hover_a" href="#other_means">#</a> </h1>
        <p>Mund të provoni të ndiqni problemin ose hulumtimin tuaj në mënyra të tjera.</p>
        <ul>
          <li>Bëj <strong>një kërkesë të re QDP</strong> Bëni një kërkesë të re për informacion përmbledhës ose për dokumentacion që lidhet indirekt me çështjet në kërkesën tuaj të refuzuar
            <a href="<%= help_contact_path %>">Na kërkoni ide</a> nëse keni ngecur.</li>
          <li>Nëse ndonjë <strong>institucion tjetër publik</strong> ose kompani publike është e përfshirë,
            atëherë shtroni kërkesa QDP te ata.</li>
          <li>Shkruani <strong>ndonjë Deputeti</strong> dhe kërkoni ndihmën e tyre për të gjetur përgjigjen. Deputetët mund t'u shkruajnë drejtpërdrejt institucioneve. Asamblesistët në Komuna mund të ngrisin pyetje në Komuna.
</li>
          <% if can_ask_the_eu?(@country_code) %>
            <li>
              Provoni <%= link_to 'kërkimi i informacionit nga Bashkimi Evropian',
       'http://www.asktheeu.org' %>. Secili prej 500 milionë njerëzve
               që jetojnë në Bashkimin Evropian (si qytetarët ashtu edhe banorët) ka
               të drejtën e garantuar ligjërisht për të kërkuar informacion nga autoritetet e BE-së.
               <%= link_to 'Pyesni BE-në', 'http://www.asktheeu.org' %> është një version i
               kësaj faqeje interneti për Bashkimin Evropian.
             </li>
          <% end %>
          <li>Pyesni <strong>hulumtuesit tjerë</strong> që janë të interesuar për çështjen e njejtë me ju. Ndonjëherë mund t'i gjeni duke shfletuar këtë faqe;
             kontaktoni çdo përdorues të regjistruar nga faqja e tyre. Mund të ketë një internet
             forumi ose grupi ku ata rrinë. </li>
          <li>Mund të formoni një grup të vogël lokal dhe të organizoni një takim me stafin e institucionit.</li>
        </ul>
        <div id="hash_link_padding"></div>
      </div>
    </div>
  </div>
</section>
